{extend name='base'/}
{block name='content'}
<div class="jumbotron">
    <div class="container">
        <div class="page-header">
    <h3 style="text-align:center">办公室行为规定
    </h3>
</div>
<p style="font-size:15px;">
        为加强大学生科技创业中心（以下简称中心）规范管理，保障中心的正常运转，杜绝创业资金与成果流失等不良现象，营造良好的学生创业环境，特制定如下管理规定：
        <br>
        一、中心人员实行动态管理，凡不符合要求或违反管理规定的同学应及时进行调整。
        <br>二、爱护公物及他人物品，保持良好的卫生环境，禁止大声喧哗吵闹，影响他人工作。
        <br>三、及时发现并报告中心的防火防盗问题，并做好防尘、防震、防腐等工作。
        <br>四、中心值班人员每日必须按时打扫中心卫生，不得迟到、早退。
        <br>五、保持良好的工作秩序，禁止带无关人员进入创业中心，未经允许不准私自将创业中心的资料、数据或者其他货物带出、借给他人。
        <br>六、禁止在创业中心看不健康的视频、网页或者从事其他违法活动， 
        <br>七、中心的工作时间为每天22：00之前，除中心值班人员以外，其他人必须按时离开。
        <br>八、中心由专人负责管理，其他工作人员要积极予以配合，服从管理，共同做好中心的各项工作。
</p>
    </div>
</div>
{/block}