<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>签到失败</title>
    <!-- Bootstrap Core CSS -->
    <link href="__STATIC__/user/css/myboot.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <!-- Custom CSS -->
    <link href="__STATIC__/user/css/stylish-portfolio.min.css" rel="stylesheet">
  </head>
  <body id="page-top">
    <!-- Navigation -->
    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">Sorry,你已经签到过了</h1>
        <br><br>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="{:url('user/index/index')}">点击返回主页面</a>
      </div>
      <div class="overlay"></div>
    </header>
  </body>
</html>